@keyframes gelatine {
  from, to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.8, 1.2);
  }
  50% {
    transform: scale(1.2, 0.8);
  }
  75% {
    transform: scale(0.90, 1.1);
  }
}
