// ⚠️ don't put non-destructible styles here

$color-gray-900: #161616;
$color-gray-800: #282828;
$color-gray-700: #505050;
$color-gray-600: #767676;
$color-gray-500: #8C8C8C;
$color-gray-400: #B4B4B4;
$color-gray-300: #E4E4E4;
$color-gray-200: #F4F4F4;
$color-gray-100: #FAFAFA;
$color-gray-000: #FFFFFF;

$color-blue-900: #002C61;
$color-blue-800: #003B82;
$color-blue-700: #0053B5;
$color-blue-600: #0A6EE3;
$color-blue-500: #2388FF;
$color-blue-400: #A3CDFF;
$color-blue-300: #D8EAFF;
$color-blue-200: #ECF5FF;
$color-blue-100: #F6FAFF;

$color-original-900: #242E3D;
$color-original-800: #303C50;
$color-original-700: #46556A;
$color-original-600: #637691;
$color-original-500: #7C95B5;
$color-original-400: #CDD4E5;
$color-original-300: #E3EAF7;
$color-original-200: #ECF1FB;
$color-original-100: #F8FAFE;

$color-green-800: #146800;
$color-green-700: #1A8700;
$color-green-600: #46B62C;
$color-green-500: #7CDA66;
$color-green-400: #B1F0A2;
$color-green-300: #D8F9D0;
$color-green-200: #EAFEE6;
$color-green-100: #F5FFF2;

$color-red-800: #B01010;
$color-red-700: #E91010;
$color-red-600: #F73B3B;
$color-red-500: #FF5151;
$color-red-400: #FFC0C0;
$color-red-300: #FFE9E9;
$color-red-200: #FFF4F4;

$color-orange-800: #9C4400;
$color-orange-700: #BF5300;
$color-orange-600: #F66800;
$color-orange-500: #FF9141;
$color-orange-400: #FFD1AF;
$color-orange-300: #FFEADB;
$color-orange-200: #FFF5ED;

$color-purple-700: #7607CD;
$color-purple-600: #AF48FF;
$color-purple-500: #C985FF;
$color-purple-400: #E5C3FF;
$color-purple-300: #F3E0FF;
$color-purple-200: #F9F0FF;

$gradient-flowlity: linear-gradient(63.43deg, #00FF7C 16.67%, #38BFF0 85.94%);

$font-montserrat: "Montserrat", sans-serif;
$font-roboto: "Roboto", sans-serif;
